body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#method{
    font-family: Arial, Helvetica, sans-serif;
}

#source{
    font-family: Arial, Helvetica, sans-serif;
}